[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
flask = {extras = ["async"], version = "*"}
httpx = "*"
warp = {git = "https://github.com/SaulNunez/warp.git"}

[dev-packages]

[requires]
python_version = "3.13"
